@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
@font-face {
  font-family: 'Ma Shan Zheng';
  src: url('https://fonts.googleapis.com/earlyaccess/mashanzheng.css');
}

.vp-home-banner .content .hero-name,
.vp-home-banner .content .hero-text {
  font-family: "Ma Shan Zheng", sans-serif;
  font-weight: 400 !important;
}

.vp-home-banner .content .hero-text {
  font-size: 18px !important;
}

.vp-home-banner .content .hero-tagline {
  font-family: "Pacifico", sans-serif;
}
