@font-face {
  font-family: 'Pacifico';
  src: url('/fonts/Pacifico-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'Ma Shan Zheng';
  src: url('/fonts/MaShanZheng-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

/* 应用于首页 Banner 的字体样式 */
.hero-name,
.hero-text {
  font-family: 'Ma Shan Zheng', sans-serif;
  font-weight: 400 !important;
}

.hero-text {
  font-size: 18px !important;
}

.hero-tagline {
  font-family: 'Pacifico', sans-serif;
}