@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Ma+Shan+Zheng&display=swap');

/* 应用于首页 Banner 的字体样式 */
.hero-name,
.hero-text {
  font-family: 'Ma Shan Zheng', sans-serif;
  font-weight: 400 !important;
}

.hero-text {
  font-size: 18px !important;
}

.hero-tagline {
  font-family: 'Pacifico', sans-serif;
}